### Name- Hritik Mehta
### Roll No.- 18HS20018
### Assignment 1

In [91]:
import pandas as pd
import numpy as np

In [92]:
Data=pd.read_excel("Data.xlsx", sheet_name="Data")

In [93]:
#Data[["IIP","EXI"]]=Data[["IIP","EXI"]].pct_change()
Data.drop(["CPI"], axis=1, inplace=True)
Data.rename({"Lending Rate": "WALR"}, inplace= True)

In [94]:
Data.dropna(inplace=True)

In [95]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             36 non-null     datetime64[ns]
 1   SENSEX 50        36 non-null     float64
 2   IIP              36 non-null     float64
 3   Inflation Y-o-Y  36 non-null     float64
 4   EXI              36 non-null     float64
 5   Lending Rate     36 non-null     float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 2.0 KB

In [96]:
Data_Subsection_1=Data[:22]
Data_Subsection_2=Data[23:]
Data_Subsection_2

        Date   SENSEX 50    IIP  Inflation Y-o-Y        EXI  Lending Rate
23 2019-12-01   12736.31  134.5             7.35  71.310997         10.14
24 2020-01-01   12533.20  137.4             7.59  71.639999         10.15
25 2020-02-01   11728.36  134.2             6.58  72.150002         10.11
26 2020-03-01    9000.99  117.2             5.84  75.400002         10.00
27 2020-04-01   10326.33   54.0             7.22  75.258499          9.90
28 2020-05-01   10013.16   90.2             6.27  75.513199          9.84
29 2020-06-01   10768.19  107.9             6.23  75.699997          9.72
30 2020-07-01   11618.98  117.9             6.73  74.989998          9.70
31 2020-08-01   11927.59  116.9             6.69  73.128304          9.65
32 2020-09-01   11820.78  123.5             7.27  73.845001          9.59
33 2020-10-01   12196.08  129.2             7.61  74.264000          9.52
34 2020-11-01   13552.60  126.3             4.59  73.940903          9.47
35 2020-12-01   14640.61  135.9             4.59  73.134003          9.38

### Descriptive Statictics

In [97]:
from scipy.stats import kurtosis, skew

In [98]:
### For complete Period
Data.describe()

          SENSEX 50         IIP  Inflation Y-o-Y        EXI  Lending Rate
count     36.000000   36.000000        36.000000  36.000000     36.000000
mean   11681.540000  125.313889         4.702778  71.093689     10.110278
std      984.640547   15.432529         1.693273   3.052251      0.294972
min     9000.990000   54.000000         1.970000  63.769901      9.380000
25%    11240.365000  123.875000         3.255000  69.403749      9.975000
50%    11610.815000  127.850000         4.585000  71.357998     10.260000
75%    12230.405000  133.075000         6.240000  73.263003     10.310000
max    14640.610000  144.100000         7.610000  75.699997     10.360000

In [99]:
### For 1st Sub-Period
Data_Subsection_1.describe()

          SENSEX 50         IIP  Inflation Y-o-Y        EXI  Lending Rate
count     22.000000   22.000000        22.000000  22.000000     22.000000
mean   11593.929091  129.881818         3.600000  69.426177     10.296818
std      526.655373    5.390259         0.938154   2.555925      0.036172
min    10591.700000  122.600000         1.970000  63.769901     10.250000
25%    11249.185000  126.275000         3.005000  68.712923     10.260000
50%    11462.820000  128.400000         3.535000  69.865898     10.300000
75%    12064.597500  132.675000         4.400000  71.172502     10.320000
max    12439.270000  144.100000         5.070000  73.650002     10.360000

In [100]:
### For 2nd Sub-Period

Data_Subsection_2.describe()

          SENSEX 50         IIP  Inflation Y-o-Y        EXI  Lending Rate
count     13.000000   13.000000        13.000000  13.000000     13.000000
mean   11758.706154  117.315385         6.504615  73.867300      9.782308
std     1500.217858   23.134853         1.008577   1.508438      0.262747
min     9000.990000   54.000000         4.590000  71.310997      9.380000
25%    10768.190000  116.900000         6.230000  73.128304      9.590000
50%    11820.780000  123.500000         6.690000  73.940903      9.720000
75%    12533.200000  134.200000         7.270000  75.258499     10.000000
max    14640.610000  137.400000         7.610000  75.699997     10.150000

## Normality Test

In [101]:
### For complete Period

from numpy import random
z = random.normal(size=(5,5))
Normality_df=pd.DataFrame(z)
Normality_df["Variable"]=""
Normality_df["Skewness"]=""
Normality_df["Kurtosis"]=""
Normality_df["J-B Statistics"]=""
Normality_df["p-value"]=""
Normality_df["Normality Hypothesis"]=""

Variable=[]
Skewness=[]
Kurtosis=[]
J_B_Statistics=[]
p_value=[]
H=[]
for i in ["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]:
   
    Variable.append(i)
    y=Data[i]
    Skewness.append(skew(y))
    Kurtosis.append(kurtosis(y))
    J_B_Statistics.append(stats.jarque_bera(Data[i])[0])
    p_value.append(stats.jarque_bera(Data[i])[1])
    if stats.jarque_bera(Data[i])[1] > 0.05:
        H.append("Null not rejected")
    else:
        H.append("Null rejected")
    
Normality_df["Variable"]=Variable
Normality_df["Skewness"]=Skewness
Normality_df["Kurtosis"]=Kurtosis
Normality_df["J-B Statistics"]=J_B_Statistics
Normality_df["p-value"]=p_value
Normality_df["Normality Hypothesis"]=H

Normality_df.drop([0,1,2,3,4],axis=1, inplace=True)
Normality_df

,Variable,Skewness,Kurtosis,J-B Statistics,p-value,Normality Hypothesis
0,SENSEX 50,0.207997,1.946999,5.945787,0.051155,Null not rejected
1,IIP,-3.111153,11.373332,252.104681,0.000000,Null rejected
2,Inflation Y-o-Y,0.242101,-1.091305,2.138097,0.343335,Null not rejected
3,EXI,-0.538004,-0.169816,1.779948,0.410667,Null not rejected
4,Lending Rate,-1.233282,0.044284,9.128852,0.010416,Null rejected

In [102]:
### For 1st Sub-Period


from numpy import random
z = random.normal(size=(5,5))
Normality_df=pd.DataFrame(z)
Normality_df["Variable"]=""
Normality_df["Skewness"]=""
Normality_df["Kurtosis"]=""
Normality_df["J-B Statistics"]=""
Normality_df["p-value"]=""
Normality_df["Normality Hypothesis"]=""

Variable=[]
Skewness=[]
Kurtosis=[]
J_B_Statistics=[]
p_value=[]
H=[]
for i in ["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]:
   
    Variable.append(i)
    y=Data_Subsection_1[i]
    Skewness.append(skew(y))
    Kurtosis.append(kurtosis(y))
    J_B_Statistics.append(stats.jarque_bera(y)[0])
    p_value.append(stats.jarque_bera(y)[1])
    if stats.jarque_bera(y)[1] > 0.05:
        H.append("Null not rejected")
    else:
        H.append("Null rejected")
    
Normality_df["Variable"]=Variable
Normality_df["Skewness"]=Skewness
Normality_df["Kurtosis"]=Kurtosis
Normality_df["J-B Statistics"]=J_B_Statistics
Normality_df["p-value"]=p_value
Normality_df["Normality Hypothesis"]=H

Normality_df.drop([0,1,2,3,4],axis=1, inplace=True)
Normality_df

,Variable,Skewness,Kurtosis,J-B Statistics,p-value,Normality Hypothesis
0,SENSEX 50,0.119741,-0.959848,0.897105,0.638552,Null not rejected
1,IIP,0.991147,0.645181,3.983606,0.136449,Null not rejected
2,Inflation Y-o-Y,-0.065307,-1.101358,1.127544,0.569058,Null not rejected
3,EXI,-0.669213,-0.190422,1.675339,0.432718,Null not rejected
4,Lending Rate,0.177116,-1.260758,1.572076,0.455647,Null not rejected

In [103]:
### For 2nd Sub-Period


from numpy import random
z = random.normal(size=(5,5))
Normality_df=pd.DataFrame(z)
Normality_df["Variable"]=""
Normality_df["Skewness"]=""
Normality_df["Kurtosis"]=""
Normality_df["J-B Statistics"]=""
Normality_df["p-value"]=""
Normality_df["Normality Hypothesis"]=""

Variable=[]
Skewness=[]
Kurtosis=[]
J_B_Statistics=[]
p_value=[]
H=[]
for i in ["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]:
   
    Variable.append(i)
    y=Data_Subsection_2[i]
    Skewness.append(skew(y))
    Kurtosis.append(kurtosis(y))
    J_B_Statistics.append(stats.jarque_bera(y)[0])
    p_value.append(stats.jarque_bera(y)[1])
    if stats.jarque_bera(y)[1] > 0.05:
        H.append("Null not rejected")
    else:
        H.append("Null rejected")
    
Normality_df["Variable"]=Variable
Normality_df["Skewness"]=Skewness
Normality_df["Kurtosis"]=Kurtosis
Normality_df["J-B Statistics"]=J_B_Statistics
Normality_df["p-value"]=p_value
Normality_df["Normality Hypothesis"]=H

Normality_df.drop([0,1,2,3,4],axis=1, inplace=True)
Normality_df

,Variable,Skewness,Kurtosis,J-B Statistics,p-value,Normality Hypothesis
0,SENSEX 50,0.025466,-0.274296,0.042159,0.979141,Null not rejected
1,IIP,-1.734000,2.388284,9.604249,0.008212,Null rejected
2,Inflation Y-o-Y,-0.870615,-0.288418,1.687327,0.430132,Null not rejected
3,EXI,-0.384898,-1.150023,1.037366,0.595304,Null not rejected
4,Lending Rate,0.090622,-1.279930,0.905162,0.635984,Null not rejected

In [62]:
from scipy import stats
stats.jarque_bera(Data["IIP"])[1]

0.0

In [57]:
Data

        Date   SENSEX 50       IIP  Inflation Y-o-Y       EXI  Lending Rate
1  2018-02-01   10959.52 -0.037037             4.44  0.017878         10.33
2  2018-03-01   10591.70  0.101256             4.28  0.002462         10.25
3  2018-04-01   11244.63 -0.126158             4.58  0.023670         10.26
4  2018-05-01   11227.57  0.057096             4.87  0.012310         10.25
5  2018-06-01   11224.18 -0.014660             4.92  0.020268         10.26
6  2018-07-01   11882.71 -0.015662             4.17 -0.001624         10.26
7  2018-08-01   12230.81  0.018298             3.69  0.039601         10.35
8  2018-09-01   11418.76  0.006250             3.70  0.015475         10.32
9  2018-10-01   10871.49  0.031056             3.38  0.015722         10.34
10 2018-11-01   11364.07 -0.050452             2.33 -0.050645         10.36
11 2018-12-01   11367.43  0.061856             2.11  0.000036         10.35
12 2019-01-01   11326.58  0.003734             1.97  0.017126         10.27
13 2019-02-01   11262.85 -0.050595             2.57  0.000984         10.26
14 2019-03-01   12090.72  0.129310             2.86 -0.024723         10.25
15 2019-04-01   12230.27 -0.122137             2.99  0.005499         10.31
16 2019-05-01   12416.37  0.070356             3.05  0.002409         10.31
17 2019-06-01   12293.47 -0.045052             3.18 -0.009360         10.31
18 2019-07-01   11602.65  0.019335             3.15 -0.003570         10.31
19 2019-08-01   11528.28 -0.042489             3.28  0.037678         10.32
20 2019-09-01   11986.23 -0.026149             3.99  0.005752         10.29
21 2019-10-01   12439.27  0.008950             4.62 -0.015293         10.29
22 2019-11-01   12605.82  0.038710             5.54  0.010311         10.27
23 2019-12-01   12736.31  0.044255             7.35 -0.005731         10.14
24 2020-01-01   12533.20  0.021561             7.59  0.004614         10.15
25 2020-02-01   11728.36 -0.023290             6.58  0.007119         10.11
26 2020-03-01    9000.99 -0.126677             5.84  0.045045         10.00
27 2020-04-01   10326.33 -0.539249             7.22 -0.001877          9.90
28 2020-05-01   10013.16  0.670370             6.27  0.003384          9.84
29 2020-06-01   10768.19  0.196231             6.23  0.002474          9.72
30 2020-07-01   11618.98  0.092678             6.73 -0.009379          9.70
31 2020-08-01   11927.59 -0.008482             6.69 -0.024826          9.65
32 2020-09-01   11820.78  0.056459             7.27  0.009801          9.59
33 2020-10-01   12196.08  0.046154             7.61  0.005674          9.52
34 2020-11-01   13552.60 -0.022446             4.59 -0.004351          9.47
35 2020-12-01   14640.61  0.076010             4.59 -0.010913          9.38

In [23]:
np.quantile(Data[i],0.5)

10.25

In [24]:
statistics.stdev(Data[i])

0.2758081919199621

## Unit Root Test

In [107]:
### Trial


print("Results of dickey fuller test")
import statsmodels
adft = statsmodels.tsa.stattools.adfuller(Data["SENSEX 50"],autolag='AIC')
# output for dft will give us without defining what the values are.
#hence we manually write what values does it explains using a for loop
output = pd.Series(adft[0:4],index=['Test Statistics','p-value','No. of lags used','Number of observations used'])
for key,values in adft[4].items():
    output['critical value (%s)'%key] =  values
output

Results of dickey fuller test
Test Statistics                -1.315937
p-value                         0.621850
No. of lags used                0.000000
Number of observations used    35.000000
critical value (1%)            -3.632743
critical value (5%)            -2.948510
critical value (10%)           -2.613017
dtype: float64

### Normalisation of Variables

In [136]:
Data[["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]]=Data[["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]]-Data[["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]].mean()

In [138]:
Data[["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]]=Data[["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]]/Data[["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]].std()

In [139]:
Data

        Date   SENSEX 50       IIP  Inflation Y-o-Y       EXI  Lending Rate
0  2018-01-01  -0.177385  0.452687         0.216871 -2.399471      0.575384
1  2018-02-01  -0.733283  0.135176        -0.155189 -2.025942      0.744892
2  2018-03-01  -1.106840  0.971073        -0.249681 -1.973589      0.473680
3  2018-04-01  -0.443725 -0.175855        -0.072509 -1.468977      0.507581
4  2018-05-01  -0.461051  0.277732         0.098757 -1.200324      0.473680
5  2018-06-01  -0.464494  0.154616         0.128285 -0.752556      0.507581
6  2018-07-01   0.204308  0.025019        -0.314644 -0.789152      0.507581
7  2018-08-01   0.557838  0.174055        -0.598118  0.101994      0.812695
8  2018-09-01  -0.266879  0.225894        -0.592213  0.464022      0.710990
9  2018-10-01  -0.822686  0.485086        -0.781196  0.837517      0.778793
10 2018-11-01  -0.322422  0.050939        -1.401296 -0.384533      0.846596
11 2018-12-01  -0.319010  0.556364        -1.531222 -0.383713      0.812695
12 2019-01-01  -0.360497  0.588764        -1.613902  0.008621      0.541483
13 2019-02-01  -0.425221  0.148136        -1.259559  0.031555      0.507581
14 2019-03-01   0.415563  1.217306        -1.088293 -0.545070      0.473680
15 2019-04-01   0.557290  0.076858        -1.011519 -0.419982      0.677089
16 2019-05-01   0.746293  0.653562        -0.976084 -0.364874      0.677089
17 2019-06-01   0.621476  0.258293        -0.899310 -0.579471      0.677089
18 2019-07-01  -0.080121  0.420288        -0.917027 -0.660558      0.677089
19 2019-08-01  -0.155651  0.057418        -0.840253  0.192156      0.710990
20 2019-09-01   0.309443 -0.156416        -0.420947  0.327237      0.609286
21 2019-10-01   0.769550 -0.085138        -0.048886 -0.033972      0.609286
22 2019-11-01   0.938698  0.225894         0.494440  0.205852      0.541483
23 2019-12-01   1.071223  0.595243         1.563376  0.071196      0.100763
24 2020-01-01   0.864945  0.783158         1.705113  0.178986      0.134664
25 2020-02-01   0.047550  0.575804         1.108635  0.346077     -0.000942
26 2020-03-01  -2.722364 -0.525765         0.671612  1.410865     -0.373858
27 2020-04-01  -1.376350 -4.621011         1.486601  1.364504     -0.712874
28 2020-05-01  -1.694405 -2.275317         0.925558  1.447951     -0.916283
29 2020-06-01  -0.927597 -1.128389         0.901935  1.509151     -1.323101
30 2020-07-01  -0.063536 -0.480407         1.197221  1.276536     -1.390904
31 2020-08-01   0.249888 -0.545205         1.173598  0.666595     -1.560412
32 2020-09-01   0.141412 -0.117537         1.516130  0.901404     -1.763821
33 2020-10-01   0.522566  0.251813         1.716924  1.038680     -2.001131
34 2020-11-01   1.900247  0.063898        -0.066603  0.932824     -2.170639
35 2020-12-01   3.005229  0.685961        -0.066603  0.668462     -2.475753

In [144]:
Data_Subsection_1=Data[:22]
Data_Subsection_2=Data[23:]
Data_Subsection_2

        Date   SENSEX 50       IIP  Inflation Y-o-Y       EXI  Lending Rate
23 2019-12-01   1.071223  0.595243         1.563376  0.071196      0.100763
24 2020-01-01   0.864945  0.783158         1.705113  0.178986      0.134664
25 2020-02-01   0.047550  0.575804         1.108635  0.346077     -0.000942
26 2020-03-01  -2.722364 -0.525765         0.671612  1.410865     -0.373858
27 2020-04-01  -1.376350 -4.621011         1.486601  1.364504     -0.712874
28 2020-05-01  -1.694405 -2.275317         0.925558  1.447951     -0.916283
29 2020-06-01  -0.927597 -1.128389         0.901935  1.509151     -1.323101
30 2020-07-01  -0.063536 -0.480407         1.197221  1.276536     -1.390904
31 2020-08-01   0.249888 -0.545205         1.173598  0.666595     -1.560412
32 2020-09-01   0.141412 -0.117537         1.516130  0.901404     -1.763821
33 2020-10-01   0.522566  0.251813         1.716924  1.038680     -2.001131
34 2020-11-01   1.900247  0.063898        -0.066603  0.932824     -2.170639
35 2020-12-01   3.005229  0.685961        -0.066603  0.668462     -2.475753

### ADF without differncing

In [141]:
### For 1st Sub Period

from numpy import random
z = random.normal(size=(5,5))
Normality_df=pd.DataFrame(z)
Normality_df["Variable"]=""
Normality_df["Test Statistics"]=""
Normality_df["p-value"]=""
Normality_df["No. of lags"]=""
Normality_df["Number of observations"]=""
Normality_df["critical value (1%)"]=""
Normality_df["critical value (5%)"]=""
Normality_df["critical value (10%)"]=""

Variable=[]
Test_Statistics=[]
p_value=[]
No_of_lags_used=[]
Number_of_observations=[]
critical_value_1=[]
critical_value_5 =[]
critical_value_10=[]
H=[]

for i in ["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]:
   
    Variable.append(i)
    
    y=Data_Subsection_1[i]
        
    adft = statsmodels.tsa.stattools.adfuller(y,autolag='AIC')
    # output for dft will give us without defining what the values are.
    #hence we manually write what values does it explains using a for loop
    output = pd.Series(adft[0:4],index=['Test Statistics','p-value','No. of lags','Number of observations'])
    for key,values in adft[4].items():
        output['critical value (%s)'%key] =  values
    #output
    
    Test_Statistics.append(output[0])
    p_value.append(output[1])
    No_of_lags_used.append(output[2])
    Number_of_observations.append(output[3])
    critical_value_1.append(output[4])
    critical_value_5.append(output[5])
    critical_value_10.append(output[6])
    if output[1] > 0.05:
        H.append("Null not rejected")
    else:
        H.append("Null rejected")
    
Normality_df["Variable"]=Variable
Normality_df["Test Statistics"]=Test_Statistics
Normality_df["p-value"]=p_value
Normality_df["No. of lags"]=No_of_lags_used
Normality_df["Number of observations"]=Number_of_observations
Normality_df["critical value (1%)"]=critical_value_1
Normality_df["critical value (5%)"]=critical_value_5
Normality_df["critical value (10%)"]=critical_value_10
Normality_df["Hypothesis"]=H

Normality_df.drop([0,1,2,3,4],axis=1, inplace=True)
Normality_df

,Variable,Test Statistics,p-value,No. of lags,Number of observations,critical value (1%),critical value (5%),critical value (10%),Hypothesis
0,SENSEX 50,1.940142,0.998590,9.0,12.0,-4.137829,-3.154972,-2.714477,Null not rejected
1,IIP,-0.401620,0.909828,9.0,12.0,-4.137829,-3.154972,-2.714477,Null not rejected
2,Inflation Y-o-Y,-28.038557,0.000000,9.0,12.0,-4.137829,-3.154972,-2.714477,Null rejected
3,EXI,0.766218,0.991071,9.0,12.0,-4.137829,-3.154972,-2.714477,Null not rejected
4,Lending Rate,-2.756954,0.064690,9.0,12.0,-4.137829,-3.154972,-2.714477,Null not rejected

In [142]:
### For 2nd Sub Period


from numpy import random
z = random.normal(size=(5,5))
Normality_df=pd.DataFrame(z)
Normality_df["Variable"]=""
Normality_df["Test Statistics"]=""
Normality_df["p-value"]=""
Normality_df["No. of lags"]=""
Normality_df["Number of observations"]=""
Normality_df["critical value (1%)"]=""
Normality_df["critical value (5%)"]=""
Normality_df["critical value (10%)"]=""

Variable=[]
Test_Statistics=[]
p_value=[]
No_of_lags_used=[]
Number_of_observations=[]
critical_value_1=[]
critical_value_5 =[]
critical_value_10=[]
H=[]

for i in ["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]:
   
    Variable.append(i)
    
    y=Data_Subsection_2[i]
        
    adft = statsmodels.tsa.stattools.adfuller(y,autolag='AIC')
    # output for dft will give us without defining what the values are.
    #hence we manually write what values does it explains using a for loop
    output = pd.Series(adft[0:4],index=['Test Statistics','p-value','No. of lags','Number of observations'])
    for key,values in adft[4].items():
        output['critical value (%s)'%key] =  values
    #output
    
    Test_Statistics.append(output[0])
    p_value.append(output[1])
    No_of_lags_used.append(output[2])
    Number_of_observations.append(output[3])
    critical_value_1.append(output[4])
    critical_value_5.append(output[5])
    critical_value_10.append(output[6])
    if output[1] > 0.05:
        H.append("Null not rejected")
    else:
        H.append("Null rejected")
    
Normality_df["Variable"]=Variable
Normality_df["Test Statistics"]=Test_Statistics
Normality_df["p-value"]=p_value
Normality_df["No. of lags"]=No_of_lags_used
Normality_df["Number of observations"]=Number_of_observations
Normality_df["critical value (1%)"]=critical_value_1
Normality_df["critical value (5%)"]=critical_value_5
Normality_df["critical value (10%)"]=critical_value_10
Normality_df["Hypothesis"]=H

Normality_df.drop([0,1,2,3,4],axis=1, inplace=True)
Normality_df

,Variable,Test Statistics,p-value,No. of lags,Number of observations,critical value (1%),critical value (5%),critical value (10%),Hypothesis
0,SENSEX 50,-0.632513,0.863465,0.0,12.0,-4.137829,-3.154972,-2.714477,Null not rejected
1,IIP,-1.835112,0.363174,0.0,12.0,-4.137829,-3.154972,-2.714477,Null not rejected
2,Inflation Y-o-Y,-1.815570,0.372759,3.0,9.0,-4.473135,-3.289881,-2.772382,Null not rejected
3,EXI,-3.372240,0.011942,4.0,8.0,-4.665186,-3.367187,-2.802961,Null rejected
4,Lending Rate,0.331099,0.978727,0.0,12.0,-4.137829,-3.154972,-2.714477,Null not rejected

In [143]:
### For Complete Period


from numpy import random
z = random.normal(size=(5,5))
Normality_df=pd.DataFrame(z)
Normality_df["Variable"]=""
Normality_df["Test Statistics"]=""
Normality_df["p-value"]=""
Normality_df["No. of lags"]=""
Normality_df["Number of observations"]=""
Normality_df["critical value (1%)"]=""
Normality_df["critical value (5%)"]=""
Normality_df["critical value (10%)"]=""

Variable=[]
Test_Statistics=[]
p_value=[]
No_of_lags_used=[]
Number_of_observations=[]
critical_value_1=[]
critical_value_5 =[]
critical_value_10=[]
H=[]

for i in ["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]:
   
    Variable.append(i)
    
    y=Data[i]
        
    adft = statsmodels.tsa.stattools.adfuller(y,autolag='AIC')
    # output for dft will give us without defining what the values are.
    #hence we manually write what values does it explains using a for loop
    output = pd.Series(adft[0:4],index=['Test Statistics','p-value','No. of lags','Number of observations'])
    for key,values in adft[4].items():
        output['critical value (%s)'%key] =  values
    #output
    
    Test_Statistics.append(output[0])
    p_value.append(output[1])
    No_of_lags_used.append(output[2])
    Number_of_observations.append(output[3])
    critical_value_1.append(output[4])
    critical_value_5.append(output[5])
    critical_value_10.append(output[6])
    if output[1] > 0.05:
        H.append("Null not rejected")
    else:
        H.append("Null rejected")
    
Normality_df["Variable"]=Variable
Normality_df["Test Statistics"]=Test_Statistics
Normality_df["p-value"]=p_value
Normality_df["No. of lags"]=No_of_lags_used
Normality_df["Number of observations"]=Number_of_observations
Normality_df["critical value (1%)"]=critical_value_1
Normality_df["critical value (5%)"]=critical_value_5
Normality_df["critical value (10%)"]=critical_value_10
Normality_df["Hypothesis"]=H

Normality_df.drop([0,1,2,3,4],axis=1, inplace=True)
Normality_df

,Variable,Test Statistics,p-value,No. of lags,Number of observations,critical value (1%),critical value (5%),critical value (10%),Hypothesis
0,SENSEX 50,-1.315937,0.621850,0.0,35.0,-3.632743,-2.948510,-2.613017,Null not rejected
1,IIP,-3.152713,0.022890,0.0,35.0,-3.632743,-2.948510,-2.613017,Null rejected
2,Inflation Y-o-Y,-2.813083,0.056429,10.0,25.0,-3.723863,-2.986489,-2.632800,Null not rejected
3,EXI,-2.496311,0.116375,0.0,35.0,-3.632743,-2.948510,-2.613017,Null not rejected
4,Lending Rate,2.965490,1.000000,0.0,35.0,-3.632743,-2.948510,-2.613017,Null not rejected

### ADF after Differencing

In [149]:
Data=Data-Data.shift(1)
Data_Subsection_1=Data_Subsection_1-Data_Subsection_1.shift(1)
Data_Subsection_2=Data_Subsection_2-Data_Subsection_2.shift(1)

In [147]:
Data

     Date   SENSEX 50       IIP  Inflation Y-o-Y       EXI  Lending Rate
0      NaT        NaN       NaN              NaN       NaN           NaN
1  31 days  -0.555898 -0.317511        -0.372060  0.373529      0.169508
2  28 days  -0.373558  0.835897        -0.094492  0.052354     -0.271212
3  31 days   0.663115 -1.146928         0.177172  0.504611      0.033902
4  30 days  -0.017326  0.453587         0.171266  0.268654     -0.033902
5  31 days  -0.003443 -0.123117         0.029529  0.447768      0.033902
6  30 days   0.668802 -0.129596        -0.442929 -0.036597      0.000000
7  31 days   0.353530  0.149036        -0.283475  0.891146      0.305114
8  31 days  -0.824717  0.051839         0.005906  0.362029     -0.101705
9  30 days  -0.555807  0.259193        -0.188983  0.373495      0.067803
10 31 days   0.500264 -0.434148        -0.620101 -1.222050      0.067803
11 30 days   0.003412  0.505426        -0.129926  0.000820     -0.033902
12 31 days  -0.041487  0.032399        -0.082680  0.392334     -0.271212
13 31 days  -0.064724 -0.440628         0.354343  0.022934     -0.033902
14 28 days   0.840784  1.069170         0.171266 -0.576624     -0.033902
15 31 days   0.141727 -1.140448         0.076774  0.125087      0.203409
16 30 days   0.189003  0.576704         0.035434  0.055109      0.000000
17 31 days  -0.124817 -0.395269         0.076774 -0.214598      0.000000
18 30 days  -0.701596  0.161995        -0.017717 -0.081087      0.000000
19 31 days  -0.075530 -0.362870         0.076774  0.852715      0.033902
20 31 days   0.465094 -0.213834         0.419306  0.135081     -0.101705
21 30 days   0.460107  0.071278         0.372060 -0.361209      0.000000
22 31 days   0.169148  0.311031         0.543326  0.239824     -0.067803
23 30 days   0.132526  0.369350         1.068935 -0.134656     -0.440720
24 31 days  -0.206278  0.187915         0.141737  0.107790      0.033902
25 31 days  -0.817395 -0.207354        -0.596478  0.167091     -0.135606
26 29 days  -2.769914 -1.101569        -0.437023  1.064788     -0.372917
27 31 days   1.346014 -4.095246         0.814989 -0.046360     -0.339015
28 30 days  -0.318055  2.345695        -0.561043  0.083447     -0.203409
29 31 days   0.766808  1.146928        -0.023623  0.061200     -0.406818
30 30 days   0.864062  0.647982         0.295286 -0.232615     -0.067803
31 31 days   0.313424 -0.064798        -0.023623 -0.609941     -0.169508
32 31 days  -0.108476  0.427668         0.342532  0.234809     -0.203409
33 30 days   0.381154  0.369350         0.200795  0.137275     -0.237311
34 31 days   1.377680 -0.187915        -1.783528 -0.105855     -0.169508
35 30 days   1.104982  0.622063         0.000000 -0.264362     -0.305114

In [150]:
### For complete Period


from numpy import random
z = random.normal(size=(5,5))
Normality_df=pd.DataFrame(z)
Normality_df["Variable"]=""
Normality_df["Test Statistics"]=""
Normality_df["p-value"]=""
Normality_df["No. of lags"]=""
Normality_df["Number of observations"]=""
Normality_df["critical value (1%)"]=""
Normality_df["critical value (5%)"]=""
Normality_df["critical value (10%)"]=""

Variable=[]
Test_Statistics=[]
p_value=[]
No_of_lags_used=[]
Number_of_observations=[]
critical_value_1=[]
critical_value_5 =[]
critical_value_10=[]
H=[]

for i in ["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]:
   
    Variable.append(i)
    
    y=Data[i].dropna()
        
    adft = statsmodels.tsa.stattools.adfuller(y,autolag='AIC')
    # output for dft will give us without defining what the values are.
    #hence we manually write what values does it explains using a for loop
    output = pd.Series(adft[0:4],index=['Test Statistics','p-value','No. of lags','Number of observations'])
    for key,values in adft[4].items():
        output['critical value (%s)'%key] =  values
    #output
    
    Test_Statistics.append(output[0])
    p_value.append(output[1])
    No_of_lags_used.append(output[2])
    Number_of_observations.append(output[3])
    critical_value_1.append(output[4])
    critical_value_5.append(output[5])
    critical_value_10.append(output[6])
    if output[1] > 0.05:
        H.append("Null not rejected")
    else:
        H.append("Null rejected")
    
Normality_df["Variable"]=Variable
Normality_df["Test Statistics"]=Test_Statistics
Normality_df["p-value"]=p_value
Normality_df["No. of lags"]=No_of_lags_used
Normality_df["Number of observations"]=Number_of_observations
Normality_df["critical value (1%)"]=critical_value_1
Normality_df["critical value (5%)"]=critical_value_5
Normality_df["critical value (10%)"]=critical_value_10
Normality_df["Hypothesis"]=H

Normality_df.drop([0,1,2,3,4],axis=1, inplace=True)
Normality_df

,Variable,Test Statistics,p-value,No. of lags,Number of observations,critical value (1%),critical value (5%),critical value (10%),Hypothesis
0,SENSEX 50,-9.396182,6.365314e-16,0.0,33.0,-3.646135,-2.954127,-2.615968,Null rejected
1,IIP,-4.380179,3.217481e-04,10.0,23.0,-3.752928,-2.998500,-2.638967,Null rejected
2,Inflation Y-o-Y,-3.361780,1.233286e-02,7.0,26.0,-3.711212,-2.981247,-2.630095,Null rejected
3,EXI,-4.201200,6.558255e-04,5.0,28.0,-3.688926,-2.971989,-2.625296,Null rejected
4,Lending Rate,-7.117484,3.797582e-10,1.0,32.0,-3.653520,-2.957219,-2.617588,Null rejected

In [151]:
### For 1st Sub Period

from numpy import random
z = random.normal(size=(5,5))
Normality_df=pd.DataFrame(z)
Normality_df["Variable"]=""
Normality_df["Test Statistics"]=""
Normality_df["p-value"]=""
Normality_df["No. of lags"]=""
Normality_df["Number of observations"]=""
Normality_df["critical value (1%)"]=""
Normality_df["critical value (5%)"]=""
Normality_df["critical value (10%)"]=""

Variable=[]
Test_Statistics=[]
p_value=[]
No_of_lags_used=[]
Number_of_observations=[]
critical_value_1=[]
critical_value_5 =[]
critical_value_10=[]
H=[]

for i in ["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]:
   
    Variable.append(i)
    
    y=Data_Subsection_1[i].dropna()
        
    adft = statsmodels.tsa.stattools.adfuller(y,autolag='AIC')
    # output for dft will give us without defining what the values are.
    #hence we manually write what values does it explains using a for loop
    output = pd.Series(adft[0:4],index=['Test Statistics','p-value','No. of lags','Number of observations'])
    for key,values in adft[4].items():
        output['critical value (%s)'%key] =  values
    #output
    
    Test_Statistics.append(output[0])
    p_value.append(output[1])
    No_of_lags_used.append(output[2])
    Number_of_observations.append(output[3])
    critical_value_1.append(output[4])
    critical_value_5.append(output[5])
    critical_value_10.append(output[6])
    if output[1] > 0.05:
        H.append("Null not rejected")
    else:
        H.append("Null rejected")
    
Normality_df["Variable"]=Variable
Normality_df["Test Statistics"]=Test_Statistics
Normality_df["p-value"]=p_value
Normality_df["No. of lags"]=No_of_lags_used
Normality_df["Number of observations"]=Number_of_observations
Normality_df["critical value (1%)"]=critical_value_1
Normality_df["critical value (5%)"]=critical_value_5
Normality_df["critical value (10%)"]=critical_value_10
Normality_df["Hypothesis"]=H

Normality_df.drop([0,1,2,3,4],axis=1, inplace=True)
Normality_df

,Variable,Test Statistics,p-value,No. of lags,Number of observations,critical value (1%),critical value (5%),critical value (10%),Hypothesis
0,SENSEX 50,-4.018128,0.001319,7.0,13.0,-4.068854,-3.127149,-2.701730,Null rejected
1,IIP,-1.013639,0.748257,8.0,12.0,-4.137829,-3.154972,-2.714477,Null not rejected
2,Inflation Y-o-Y,-2.472737,0.122249,0.0,20.0,-3.809209,-3.021645,-2.650713,Null not rejected
3,EXI,-4.032888,0.001248,8.0,12.0,-4.137829,-3.154972,-2.714477,Null rejected
4,Lending Rate,-1.300011,0.629167,8.0,12.0,-4.137829,-3.154972,-2.714477,Null not rejected

In [152]:
### For 2nd Sub Period


from numpy import random
z = random.normal(size=(5,5))
Normality_df=pd.DataFrame(z)
Normality_df["Variable"]=""
Normality_df["Test Statistics"]=""
Normality_df["p-value"]=""
Normality_df["No. of lags"]=""
Normality_df["Number of observations"]=""
Normality_df["critical value (1%)"]=""
Normality_df["critical value (5%)"]=""
Normality_df["critical value (10%)"]=""

Variable=[]
Test_Statistics=[]
p_value=[]
No_of_lags_used=[]
Number_of_observations=[]
critical_value_1=[]
critical_value_5 =[]
critical_value_10=[]
H=[]

for i in ["SENSEX 50","IIP","Inflation Y-o-Y","EXI", "Lending Rate" ]:
   
    Variable.append(i)
    
    y=Data_Subsection_2[i].dropna()
        
    adft = statsmodels.tsa.stattools.adfuller(y,autolag='AIC')
    # output for dft will give us without defining what the values are.
    #hence we manually write what values does it explains using a for loop
    output = pd.Series(adft[0:4],index=['Test Statistics','p-value','No. of lags','Number of observations'])
    for key,values in adft[4].items():
        output['critical value (%s)'%key] =  values
    #output
    
    Test_Statistics.append(output[0])
    p_value.append(output[1])
    No_of_lags_used.append(output[2])
    Number_of_observations.append(output[3])
    critical_value_1.append(output[4])
    critical_value_5.append(output[5])
    critical_value_10.append(output[6])
    if output[1] > 0.05:
        H.append("Null not rejected")
    else:
        H.append("Null rejected")
    
Normality_df["Variable"]=Variable
Normality_df["Test Statistics"]=Test_Statistics
Normality_df["p-value"]=p_value
Normality_df["No. of lags"]=No_of_lags_used
Normality_df["Number of observations"]=Number_of_observations
Normality_df["critical value (1%)"]=critical_value_1
Normality_df["critical value (5%)"]=critical_value_5
Normality_df["critical value (10%)"]=critical_value_10
Normality_df["Hypothesis"]=H

Normality_df.drop([0,1,2,3,4],axis=1, inplace=True)
Normality_df

,Variable,Test Statistics,p-value,No. of lags,Number of observations,critical value (1%),critical value (5%),critical value (10%),Hypothesis
0,SENSEX 50,-143.542939,0.000000,4.0,7.0,-4.938690,-3.477583,-2.843868,Null rejected
1,IIP,-1.837323,0.362095,2.0,9.0,-4.473135,-3.289881,-2.772382,Null not rejected
2,Inflation Y-o-Y,-1.235342,0.658211,3.0,8.0,-4.665186,-3.367187,-2.802961,Null not rejected
3,EXI,-2.415304,0.137463,4.0,7.0,-4.938690,-3.477583,-2.843868,Null not rejected
4,Lending Rate,-3.655552,0.004784,4.0,7.0,-4.938690,-3.477583,-2.843868,Null rejected

### Cross- Correlation

In [153]:
Data.corr()

                 SENSEX 50       IIP  Inflation Y-o-Y       EXI  Lending Rate
SENSEX 50         1.000000 -0.474850         0.223648 -0.475574      0.120520
IIP              -0.474850  1.000000        -0.300372  0.069500     -0.107798
Inflation Y-o-Y   0.223648 -0.300372         1.000000  0.001459     -0.260935
EXI              -0.475574  0.069500         0.001459  1.000000      0.154597
Lending Rate      0.120520 -0.107798        -0.260935  0.154597      1.000000

In [154]:
Data_Subsection_1.corr()

                 SENSEX 50       IIP  Inflation Y-o-Y       EXI  Lending Rate
SENSEX 50         1.000000 -0.104794         0.107383 -0.317404      0.146187
IIP              -0.104794  1.000000        -0.031654 -0.145302     -0.394061
Inflation Y-o-Y   0.107383 -0.031654         1.000000  0.139805     -0.275261
EXI              -0.317404 -0.145302         0.139805  1.000000      0.160816
Lending Rate      0.146187 -0.394061        -0.275261  0.160816      1.000000

In [155]:
Data_Subsection_2.corr()

                 SENSEX 50       IIP  Inflation Y-o-Y       EXI  Lending Rate
SENSEX 50         1.000000 -0.058736         0.121938 -0.801467      0.060065
IIP              -0.058736  1.000000        -0.295566 -0.124966      0.251131
Inflation Y-o-Y   0.121938 -0.295566         1.000000 -0.108630     -0.091779
EXI              -0.801467 -0.124966        -0.108630  1.000000     -0.315667
Lending Rate      0.060065  0.251131        -0.091779 -0.315667      1.000000